<template>
  <div class="">
    {{message}}
  </div>
</template>

<script>
import {hwinstance} from '../services/base'

export default {
  data(){
    return{
      message:''
    }
  },
  mounted(){
    hwinstance.get().then((data)=>{
      this.message = data['data']
    });
  },
}
</script>
 